html {
  font-size: 14px;
  font-family: Arial;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* mine */

.anonym_gruppe {
    /*    background-color: #FFFFF0;*/
    /*border: 1px solid #FFFFD0;*/
}
.synlig_gruppe {
    /*background-color: #E0E0E0;*/
    border: 1px solid silver;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

.collapsedGroup {
    height: auto;
    background-color: #F6F6F6;
    /*background-image: url("../img/arrow-right.png");
    background-position: top 15px right 5%;*/ /* Position the image at the left center of the div */
    /*background-repeat: no-repeat;
    background-size: 25px;*/
}

.collapse-image {
    position: relative;
/*    top: -5px;*/
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 7px;
    float: left;
    display:inline;
}

.addNothing{
    margin: 0px;
    padding: 0px;
    border: none;
}

.error_element {
    display: inline-block;
    min-width: 400px;
}
/*.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

    .custom-checkbox input {
        display: none;
    }

    .custom-checkbox .checkbox-image {
        position: absolute;
        top: 5px;
        left: 0;
        width: 80%;
        height: 80%;
        transition: opacity 0.3s ease-in-out;
    }

    .custom-checkbox input:checked + .checkbox-image {
        transform: rotate(90deg);
    }*/
.collapseContainer {
    border: none;
    margin: 0px;
    padding: 0px;
}

.collapseContainer .hidden{
    display: none;
}

.choice_container {
    display: inline;
    margin: 0px;
    padding: 0px;
    border: none;
}
.choice_container .hidden {
    display: none;
}

.gruppetekst {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
}

.variabel{
    margin-bottom: 10px;
}
.ledetekst {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    min-width: 190px;
}

.ledetekst_flerlinje {
    font-weight: bold;
    font-size: 1em;
    display: block;
}

.ledetekst_flervalg {
    font-weight: bold;
    font-size: 1em;
    display: block;
}


.tekst_verdi {
    display: inline-block;
}

.gruppe_beskrivelse {
    font-style: italic;
}

.checkbox_tekst {
    font-weight: bold;
    font-size: 1em;
    margin-left: 0.3em;
}

.enlinjetekst {
    width: 500px;
}

.dato {
    width: 100px !important;
}

.flerlinjetekst {
    width: 657px;
    height: 150px;
}

.barn_selector_tittel {
    margin-right: 10px;
}

.minlength_markor {
    font-style: italic;
    padding-left: 6px;
    color: #565051;
}

.obligatorisk_markor {
    color: red;
    padding-left: 3px;
}

    .obligatorisk_markor.disabled {
        color: silver !important;
    }

.disabled_button .obligatorisk_markor {
    color: silver;
    padding-left: 3px;
}
.disabled_button {
    color: silver !important;
}
.disabled_button:hover {
    cursor: default !important;
    background-color: white !important;
}

.option_container {
    display: block;
    margin: 0;
    padding: 0;
}

    .option_container.hidden {
        display: none;
    }

.disabled_variable {
    color: silver !important;
}

    .disabled_variable .obligatorisk_markor {
        color: silver;
        padding-left: 3px;
    }

.hidden_template {
    display: none;
}

.expanded_template {
    font-display: block;
}

.new_button {
    display: block;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

    .custom-checkbox input {
        display: none;
    }

    .custom-checkbox .checkbox-image {
        position: absolute;
        top: 5px;
        left: 0;
        width: 80%;
        height: 80%;
        transition: opacity 0.3s ease-in-out;
    }

    .custom-checkbox input:checked + .checkbox-image {
        transform: rotate(90deg);
    }

.dimensjon_tittel {
    background-color: lightgrey;
}

.melding_liste td, th {
    padding-left: 1em;
    padding-right: 1em;
}
.melding_liste th {
    background-color: silver;
}

/*Lånt fra W3C*/
.dropbtn {
    background-color: #D0D0D0;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.4em 0.2em;
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content div {
        color: black;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content div:hover {
            background-color: #c1c1c1;
            cursor: pointer;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    margin: 1px solid black;
    border-radius: 4px;
    background-color: #c9c9c9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
