<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c5d1a36b-b458-4832-9d28-bfca65422435/resourceGroups/rg-meldingsformater/providers/Microsoft.Web/sites/demo-meldingsformater</ResourceId>
    <ResourceGroup>rg-meldingsformater</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://demo-meldingsformater.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>547aef1a-9c6e-4a73-b72f-13988b2bd024</ProjectGuid>
    <PublishUrl>https://demo-meldingsformater.scm.azurewebsites.net/</PublishUrl>
    <UserName>$demo-meldingsformater</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>