@using DemoApp.Models
@using DemoApp.Models.ViewModels
@using System.Web
@model string
@{
    @if (!string.IsNullOrEmpty(Model))
    {
        var value = HtmlEncoder.Encode(Model);
        value = value.Replace("#$", "<br /><b>").Replace("$#", "</b><br />");
        <div class="gruppe_beskrivelse">@Html.Raw(value)</div>
    }
}
