@using DemoApp.Models
@using DemoApp.Models.Fagsystem
@using DemoApp.Models.ViewModels
@using System.Xml.Schema
@model PropertyRendererModel
@{
    var caption = Model.GetCaption(true);
    var elements = XsdUtils.GetEnrichedChildren(Model.Prop);
    var description = Model.GetDescription();
    bool synligGruppe = !string.IsNullOrEmpty(caption);
    string cssClass = (synligGruppe) ? "synlig_gruppe" : "anonym_gruppe";
    var prefilled = Model.Melding.GetPrefilledValueFor(Model.GetId());
    string collapsedGroupClass = (prefilled?.InitiallyClosed == true) ? "collapsedGroup" : "";
    string closedGroupClass = (prefilled?.InitiallyClosed == true) ? "hidden" : "";
    string onClickHandler = (prefilled?.InitiallyClosed == true) ? "toggleCollapseContainer(this);" : "";
    <div class="@cssClass @collapsedGroupClass" id="@Model.GetId()" onclick="@onClickHandler">
        @if (synligGruppe)
        {
            if (prefilled?.InitiallyClosed == true)
            {
                <img class="collapse-image" src="../img/arrow-right.png" alt="collapse image">

            }
            <span class="gruppetekst">@caption</span>
            @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", description)

            
            
        }
        <div class="collapseContainer @closedGroupClass ">
        @foreach (var enrichedElement in elements)
        {
            var element = enrichedElement.Element;
            bool skipRender = Model.SkipProp != null && element is XmlSchemaElement el && el.ElementSchemaType == Model.SkipProp;
            if (!skipRender)
            {
                <div class="variabel">
                @{
                    var elementModel = new PropertyRendererModel(Model, Model.Melding, $"{Model.GetId()}", element);
                    string controlName = XsdUtils.GetControlNameForProperty(element);
                }
                @await Html.PartialAsync($"/Pages/Partial/{controlName}.cshtml", elementModel)
                </div>
            }
        }
        </div>
    </div>
}