@page
@model DemoApp.Pages.IssuesModel
@{
    <h1>Mangler</h1>
    <ul>
        <li>Indikator for obligatorisk på alle datatyper (fungerer bare for tekst)</li>
        <li>"Ny (+)" - knapp for repeterbare felt</li>
        <li>Lagring til XML</li>
        <li>Listing av sendte meldinger</li>
        <li>Valg for Ny / oppdater / trekk</li>
    </ul>

    <h1>Feil</h1>
    <ul>
        <li>Viser ikke skjema i format Barnevernregister (mye bruk av attributter)</li>
    </ul>

}
